<nz-layout>
    <nz-sider [style]="{'background':isAlternativeBackground}" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <app-nz-sider></app-nz-sider>
    </nz-sider>
    <nz-layout>
        <nz-header [style]="{'background':isAlternativeBackground}">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
        </nz-header>
        <nz-content [style]="{'background':isAlternativeBackground}">
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer [style]="{'background':isAlternativeBackground}">Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>