<nz-layout>
    <nz-header [style]="{'background':isAlternativeBackground}">
        <div class="response-header-content" style="display: none;">
            <i nz-icon nzType="bars" nzTheme="outline" (click)="onClickShowManu()"></i>
        </div>
        <div class="main-header-content" style="display: flex;justify-content: flex-end;align-items: center;">
            <button nz-button class="nz-button" routerLink="/registration">Become partnor</button>
            <button nz-button class="nz-button" routerLink="/login">Login as a partnor</button>
            <i nz-icon nzType="bg-colors" nzTheme="outline" (click)="onClickIsAlternative()"></i>
        </div>
        <div *ngIf="show" class="response-main" style="display: none;">
            <div class="response-main-content">
                <div class="response-item">
                    <button nz-button class="nz-button" style="display: flex;margin: 10px auto;" routerLink="/registration">Become partnor</button>
                    <div class="response-item">
                        <button nz-button class="nz-button" style="display: flex;margin: 10px auto;" routerLink="/login">Login as a partnor</button>
                    </div>
                    <div class="response-item">
                        <i nz-icon nzType="bg-colors" nzTheme="outline" (click)="onClickIsAlternative()" style="display: flex;justify-content: center;"></i>
                    </div>
                </div>
            </div>
        </div>
    </nz-header>
    <nz-content [style]="{'background':isAlternativeBackground}">
        <router-outlet></router-outlet>
    </nz-content>
    <!-- <nz-footer></nz-footer> -->
</nz-layout>