.logo {
    text-align: center;
    margin: 20px 0;
    .logo-img {
        height: 100px;
        width: 100px;
    }
}

li {
    padding: 15px 10px;
    cursor: pointer;
    span {
        margin-left: 10px;
    }
}

.activatedRoute {
    background: #00c0fa !important;
    color: white !important;
}