.nz-button {
    border: 1px solid #00c0fa;
    background: none;
    color: #00c0fa;
    border-radius: 20px;
    margin: 0 10px;
    -webkit-box-shadow: 0px 10px 20px 0px rgb(50 50 50 / 52%);
}

body {
    font-family: 'Montserrat', sans-serif !important;
    min-width: 350px !important;
}

.ant-input-affix-wrapper {
    width: 400px;
    padding: 10px;
    border: 1px solid #40a9ff;
    border-radius: 5px;
}

.anticon {
    color: #40a9ff;
    font-size: 24px;
    font-weight: bold;
}

.form-button {
    width: 400px;
    padding: 25px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4285ec, #00c0fa);
}

.form-main {
    height: 100%;
    display: flex;
    text-align: center;
    .form {
        margin: auto;
    }
}

nz-table {
    margin: 20px 0;
}

i {
    color: #00c0fa;
    cursor: pointer;
}

.error-text {
    color: red;
}