@media only screen and (max-width:600px) {
    .form-type {
        width: 300px !important;
    }
    .ant-input-affix-wrapper {
        width: 300px !important;
    }
    .response-header-content {
        display: flex !important;
    }
    .main-header-content {
        display: none !important;
    }
    .response-main {
        display: block !important;
    }
    .main-slider {
        display: block !important;
    }
    .lg-menu {
        display: none !important;
    }
    .sm-menu {
        display: inline-block !important;
    }
    .file-label {
        width: 300px !important;
    }
    nz-content {
        min-height: calc(100vh - 25px) !important;
        max-height: fit-content !important;
    }
    nz-sider {
        display: none !important;
    }
}